<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cat Diary</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">
    <link href="../static/css/software-excellence.css" rel="stylesheet" th:href="@{/css/software-excellence.css}">
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<main class="masthead text-white">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 mx-auto"><h1 th:text="${message}">LOL, you died</h1></div>
        </div>
        <div class="row">
            <div class="col-xl-10 mx-auto"><p>Good thing you still have <span th:text="${lives}">8</span> lives.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-2">
                <a href="/cat/profile">My Profile</a>
            </div>
            <div class="col-sm-2">
                <a href="/entries">My Diary</a>
            </div>
            <div class="4"></div>
        </div>
    </div>
</main>

</body>

</html>