<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cat Diary</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">
    <link href="../static/css/software-excellence.css" rel="stylesheet" th:href="@{/css/software-excellence.css}">
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<main class="masthead text-white text-center">
    <div class="silly" th:if="${showPublicEntries}">
        <span class="excited">New!</span> <a href="/entries/public">See what other cats are saying</a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mb-5">File a complaint</h1>
                <form method="POST" th:object="${newEntry}">
                    <div class="row pb-3 justify-content-center">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input type="text" class="form-control" th:field="*{title}"
                                   placeholder="What is terrible today?"/>
                        </div>
                    </div>
                    <div class="row pb-3 justify-content-center">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <textarea class="form-control" th:field="*{complaint}"
                                      placeholder="Tell me about it..."></textarea>
                        </div>
                    </div>
                    <div class="row pb-3 justify-content-center">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input type="text" class="form-control" th:field="*{imageUrl}"
                                   placeholder="Selfie URL"/>
                        </div>
                    </div>
                    <input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <button th:text="${catSound}"></button>
                </form>
            </div>
            <div class="col">
                <h1 class="mb-5">Prior complaints</h1>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Message</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="entry : ${entries}">
                        <td>
                            <div class="entryImage" th:if="${entry.showImage}">
                                <img class="selfie" th:src="${entry.imageUrl}"/>
                            </div>
                        </td>
                        <td>
                            <div class="entryText">
                                <h3 th:text="${entry.title}">Title goes here</h3>
                                <p th:utext="${entry.complaint}">Complaint goes here</p>
                                <form action="/entries/delete" method="POST">
                                    <input type="hidden" name="entryId" th:value="${entry.id}">
                                    <input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}"
                                           th:value="${_csrf.token}"/>
                                    <button type="submit">Delete</button>
                                </form>
                                <form action="/entries/publicity" method="POST">
                                    <div class="custom-control custom-switch">
                                        <input type="hidden" name="entryId" th:value="${entry.id}">
                                        <input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}"
                                               th:value="${_csrf.token}"/>
                                        <input type="checkbox" class="custom-control-input" th:name="publicity"
                                               id="publicity" th:checked="${entry.currentlyPublic}"
                                               onchange="form.submit()">
                                        <label class="custom-control-label" for="publicity">Public</label>
                                    </div>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<footer>
    <div class="row justify-content-center">
        <div class="col-2"></div>
        <div class="col-6">
            <p><span class="cloudy" th:text="${message}">Message goes here</span></p>
        </div>
        <div class="col-2">
            <form action="/cat/profile" method="GET">
                <input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button type="submit">My Profile</button>
            </form>
        </div>
        <div class="col-2">
            <form action="/logout" method="POST">
                <input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button type="submit">Log out</button>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</footer>
</body>

</html>