<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sorry</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">
    <link href="../static/css/catdiary.css" rel="stylesheet" th:href="@{/css/catdiary.css}">

</head>
<body>
<div th:replace="fragments/header :: header"></div>
   This is an error of some sort. Check the developer tools if you want to know which one it is
</body>
</html>