<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cat Diary</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">
    <link href="../static/css/catdiary.css" rel="stylesheet" th:href="@{/css/catdiary.css}">
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<main class="masthead text-white text-center">
    <div class="container">
        <div class="row">
            <h1 th:if="${param.error}" class="mb-5 error">Oh, that didn't work.</h1>
            <div class="col">
                <h1 class="mb-5">Registration</h1>
                <form method="POST" th:object="${catRequest}">
                    <div class="row pb-3 justify-content-center">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input type="text" class="form-control" th:field="*{catName}"
                                   placeholder="What is your name?"/>
                        </div>
                    </div>
                    <div class="row pb-3 justify-content-center">
                        <div class="col-sm-6">
                            <label for="lives" class="control-label col-sm-8">How many lives do you
                                have?</label>
                        </div>
                        <div class="col-sm-3">
                            <select class="form-control custom-select" th:field="*{lives}" id="lives">
                                <option value="9">9</option>
                                <option value="8">8</option>
                                <option value="7">7</option>
                                <option value="6">6</option>
                                <option value="5">5</option>
                                <option value="4">4</option>
                                <option value="3">3</option>
                                <option value="2">2</option>
                                <option value="1">1</option>
                            </select>
                        </div>
                    </div>
                    <div class="row pb-3 justify-content-center">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}"
                                   th:value="${_csrf.token}"/>
                            <input class="form-control col-sm-12" type="password"
                                   th:field="*{password}" placeholder="Type a password"/>
                            <br/>
                            <input class="btn btn-primary" type="submit" value="Mew"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

</body>

</html>