<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Cat Diary</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">
    <link href="../static/css/software-excellence.css" rel="stylesheet" th:href="@{/css/software-excellence.css}">
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<main class="masthead text-white text-center">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="/img/cat-tombstone.jpg" class="tombstone">
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <h1><span class="cloudy">RIP</span></h1>
                <h1><span class="cloudy" th:text="${catName}">cat face</span></h1>
            </div>
        </div>
    </div>
</main>
</body>
</html>