<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cat Diary</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">
    <link href="../static/css/catdiary.css" rel="stylesheet" th:href="@{/css/catdiary.css}">
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<main class="masthead text-white text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <h1 th:if="${param.error}" class="mb-5 error">Oh, that didn't work.</h1>
                <div>
                    <h2>Welcome, <span th:text="${catName}" }>kitty</span>!</h2>
                    <h3>Your username is: <span class="new-username" th:text="${username}">kitty</span></h3>
                    <br />
                    <h2>You may now <a href="/login">log in</a>.</h2>
                </div>
            </div>
        </div>
    </div>
</main>
</body>

</html>